# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled python files
*.pyc
python/build
python/dist
python/chisel.egg-info/

# Compiled Static libraries
*.lai
*.la
*.a

# vim swap files
.*.swp

# PyCharm files
.idea

# Reminders
reminder
